:root {
    box-sizing: border-box;
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./assets/big-city.jpg');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

nav {
    color: white;
    background-color: #bdbdbd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
  
nav ul {
    list-style-type: none;
    /* padding: 0; */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: 200px;
    padding: 5px;
}

.hero {
    color: white;
    font-size: clamp(1rem, 2vw, 2rem);
}

row-1 {
    max-height: 70%;
}

.hero-h1 {
    font-size: clamp(3rem, 4vw, 6rem);
}

.hero-p {
    max-width: 80%;
}

.icon-column {
    width: fit-content;
    border: 1px dotted white;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-img-top {
    max-width:200px;
}